version: '3'
services:
    jenkins:
        container_name: jenkins
        ports:
            - '80:8080'
            - '50000:50000'
        volumes:
            - '/var/lib/jenkins:/var/jenkins_home'
        image: foxylion/jenkins
    jenkins-slave:
        container_name: jenkins-slave
        restart: unless-stopped
        volumes:
            - '/home/jenkins:/home/jenkins'
            - '/var/run/docker.sock:/var/run/docker.sock'
        environment:
            - 'JENKINS_URL=http://ucp00000234'
        image: foxylion/jenkins-slave