version: '2'
services:
    jenkins:
        container_name: jenkins
        ports:
            - '80:8080'
            - '50000:50000'
        image: foxylion/jenkins
    jenkins-slave:
        container_name: jenkins-slave
        restart: always
        volumes:
            - '/home/bar9122/jenkins_slave:/home/jenkins'
            - '/var/run/docker.sock:/var/run/docker.sock'
        environment:
            - 'JENKINS_URL=http://ucp00000234'
        image: foxylion/jenkins-slave
        depends_on:
            - jenkins
